<section class="flex justify-center text-center">

  <!-- About the Data  -->
  <div class="flex-shrink">

    <button mat-button
            (click)="openAboutDataDialog()">
      <span class="ml-1.5 text-sm">
        About the Data
      </span>
    </button>

  </div>

  <!-- FEEDBACK  -->
  <div class="flex-shrink">

    <button mat-button
            (click)="openDialogFeedbackForm()">

      <span class="ml-1.5 text-sm">
        Feedback
      </span>

    </button>


  </div>

  <!-- About the Tool  -->
  <div class="flex-shrink">

    <button mat-button
            (click)="openAboutToolDialog()">
      <span class="ml-1.5 text-sm">
        About the Tool
      </span>
    </button>

  </div>


  <!-- Glossary  -->
  <div class="flex-shrink">

    <button mat-button
            (click)="openGlossaryOfTermsDialog()">
      <span class="ml-1.5 text-sm">
        Glossary of Terms
      </span>
    </button>

  </div>


  <!-- Release Schedule  -->
  <div class="flex-shrink">

    <button mat-button
            (click)="openReleaseScheduleDialog()">
      <span class="ml-1.5 text-sm">
        Release Schedule
      </span>
    </button>

  </div>



</section>
